$bg_board: #000000;
$text: #ffffff;
$text_hover: #cccccc;
$light_text: lighten($text, 10%);
$header_color: #fff;
$font_average: 1.2em;
$link_color: #009fbf;
$link_color_hover: #e000e3;
$font_family: Arial,
cursive,
sans-serif;
$font_second_family: Times,
sans-serif;
$btn_font: Arial,
sans-serif;
$keyboard_font: Helvetica,
Verdana,
monospace;
$font_size: 17px;
$maxwidth: 1180px;
$line_color: #d9d9d9;
$btn_background: #d1d1d1;
$main_background: #000000;

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet,
object, iframe,
h1, h2,
h3, h4,
h5, h6,
p, blockquote,
pre, a,
abbr, acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font: inherit;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*--------*/

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

*:focus {
    outline: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #666666;
    font-size: 15px;
    font-family: $keyboard_font;
    height: 100%;
    min-height: 100%;
}

img {
    border-style: none;
    vertical-align: top;
}

a {
    text-decoration: underline;
    color: $text_hover;
    font-weight: bold;
    font-family: $keyboard_font;
    font-size: 1em;
}

a:hover {
    text-decoration: none;
}

h1 {
    color: $text;
    font-family: $font_family;
    font-weight: normal;
    text-align: center;
    font-size: 50px;
    line-height: 1.2em;
    padding: 10px 0px;
    margin: 0px auto 0px;
}

h2 {
    color: $header_color;
    font-family: $keyboard_font;
    font-weight: normal;
    text-align: left;
    font-size: 3.2em;
    line-height: 1em;
    margin: 0px 0px 20px;
    padding-top: 30px
}

p {
    color: $text;
    font-size: 1.1em;
    font-family: $keyboard_font;
    text-align: left;
    line-height: 1.3em;
    margin-top: 8px;
    margin-bottom: 20px;
}

.main {
    background: rgba(0, 255, 0, .2);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 0;
    width: 100%;
}

.float-containers {
    overflow: hidden;
    width: 100%;
}

.fl {
    float: left;
    width: 60%;
}

.fr {
    float: right;
    width: 39%;
}

.onethird {
    width: 32%;
    float: left;
}

.medium-col {
    float: left;
    width: 49%;
}

label {
    font-family: $keyboard_font;
    color: $text;
    font-size: 1em;
    line-height: 1.4em;
}

ul {
    list-style: disc;
    color: $text;
}

ul li {
    color: $text;
    font-family: $keyboard_font;
    font-size: 1.6em;
    line-height: 1.6em;
    font-weight: 100;
}

hr {
    margin-top: 5px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    text-align: center;
    background-size: cover;
    overflow-x: hidden;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}


/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .container {
        width: 100%;
        overflow: hidden;
        height: auto;
        max-width: 960px;
    }
    .frame{
        position: absolute;
        bottom: 12%;
        width: 100%;
    }
    .treeframe { width:90%; margin: 0 auto; position:relative;}
    .segment > img {
        width: auto;
        max-width: 100%;
        min-height:185px;
        height: auto;
    }
    .treeframe img{z-index:99999;}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .treeframe{
        max-width: 380px;
        width:100%;
        margin: 0 auto;
    }
    .segment > img {
        width: auto;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {}


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {}